body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Georgia", serif;
  background-color: #ffbdff;
}

img {
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
  border-radius: 0px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 60vw;
  width: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.no-cursor {
  cursor: auto;
}

.title, #description {
  white-space: pre-line;
}

.toggle-text {
  position: absolute;
  top: 20px;
  right: 5px;
}

.funny {
  position: absolute;
  color: white;
  text-align: center;
  font-size: 96px;
}

.quiz {
  margin: 64px 0;
}

.quiz a {
  transform: scale(1.5);
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 300% 300%;
  animation: rainbow 4s ease infinite;
}

.speedy a {
  animation: rainbow 0.01s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.question-answers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 40vh;
  margin-top: 64px;
  font-size: 48px;
  text-align: center;
}

.question-4 {
  font-size: 36px;
}

.question-5 {
  height: 50vh;
}

.question-5 a {
  color: white;
}

.question-5 a:hover {
  color: #CCC;
}

.question-5 img {
  cursor: default;
}

.answers {
  display: flex;
  gap: 20px;
  margin-top: 32px;
}

.answers-5 {
  margin-top: 16px;
}

.answer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  width: 25vw;
  height: 10vh;
  cursor: pointer;
  font-size: 28px;
}

.answer.green {
  background-color: #57ec50;
}

.answer.red {
  background-color: red;
}

.question, .answers {
  color: white;
}

.question, .answer {
  background-color: rgb(24, 124, 224);
  border-radius: 8px;
}

.question-open {
  height: 25vh;
  margin-top: 24px;
  font-size: 36px;
}

.question-image {
  height: 60vh;
}

textarea {
  width: 100%;
  height: 400px;
  margin-top: 16px;
  border-radius: 8px;
}

.btn-success {
  transform: scale(1.2);
  margin-top: 20px;
}

.end {
  height: 100vh;
}

.end p {
  font-size: 48px;
}

.end a {
  align-self: center;
  max-width: 200px;
  font-size: 24px;
}